* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
}

footer {
  background-color: #f2f4f5;
  padding: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
  width: 80%;
}

.main-footer div > p{
    font-weight: bold;
}


.main-footer, .sub-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    color: #666666;
}


.main-footer div > *{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}

.main-footer div:first-child ul{
    display:flex ;
}

i{
    margin-right: 10px;
    margin-bottom: 10px;
}


.sub-footer{
  height: 70px;
  align-items: end;
  border-top: 1px solid darkgray;
}

.sub-footer ul{
  display: flex;
}

.sub-footer p{
  grid-column: 1 / span 2;
}


@media (max-width:700px){

  .main-footer, .sub-footer{
    padding: 1rem;
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 1rem;
    color: #666666;
}

.container div:first-child{
  background-color: #706f6f;
  color: white;
}
.container > div:last-child{
  background-color: darkgray;
  color: #111;
}


}